   <!--Pieds de page-->
   <footer class="mt-8 bg-black/20 text-white p-3">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <div class="flex items-center ">
         <a href="/">
            <img src="IMAGES/logo_7-removebg-preview.png" class=" h-[100px] " alt="logo">
         </a>
      </div>
 
       <div>
         <h3 class="text-2xl text-white">Lien utiles</h3>
          <ul>
             <li>
                <a href="/parent" class="hover:text-blue-800">Tableau de bord parents</a>
             </li>

             <li>
                <a href="/enseignant" class="hover:text-blue-800">Tableau de bord enseignants</a>
             </li>

             <li>
                <a href="#" class="hover:text-blue-800">Messages instantanés</a>
             </li>
 
             <li>
                <a href="#" class="hover:text-blue-800">Suivi des résultats</a>
             </li>
 
             <li>
                <a href="#" class="hover:text-blue-800">Suivi scolaire</a>
             </li>
 
             <li>
                <a href="#" class="hover:text-blue-800">Agenda scolaire</a>
             </li>
          </ul>
       </div>

       <div class="bg-black/35 p-4">
          <h3 class="text-lg font-semibold mb-2">Contactez-nous</h3>
          <form class="space-y-2">
              <div>
                  <input type="text" placeholder="Votre nom" class="w-full p-2 rounded text-black">
              </div>
              <div>
                  <input type="email" placeholder="Votre email" class="w-full p-2 rounded text-black">
              </div>
              <div>
                  <textarea placeholder="Votre message" class="w-full p-2 rounded text-black"></textarea>
              </div>
              <button type="submit" class="bg-white text-orange-400 p-2 rounded w-full">Envoyer</button>
          </form>
      </div>
    </div>

    <hr class="ml-6 mr-6 mt-4">
    <p class="text-center mt-3">&copy; 2025 Enseignants-Parents. Tous droits réservés.</p>
    <div>
       <ul class="flex gap-5 text-blue-800 font-semibold text-xl justify-center">
          <li>
             <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
          </li>

          <li>
             <a href="#"><i class="fa-brands fa-facebook"></i></a>
          </li>

          <li>
             <a href="#"><i class="fa-regular fa-envelope"></i></a>
          </li>
       </ul>
    </div>
 </footer>

 <script src="script.js"></script>
</body>
</html>