<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Communication parents-enseignants</title>
   <script src="https://cdn.tailwindcss.com"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
   
</head>
<body>
   <!--En tête--> 
   <header class="sticky top-0 bg-white shadow-md w-full z-30 shadow-orange-400">
      <div class="bg-green-500 flex justify-between p-3 text-center text-white">
         <div class="hidden">
            <p>yahouattara64@gmail.com</p>
         </div>

         <div class="border-l border-gray-300 h-10 hidden"></div>

         <div>
            <a href="#" class="font-semibold text-xl p-7">Bienvenue sur notre plateforme</a>
         </div>

         <div class="border-l border-gray-300 h-10"></div>

         <div class="mr-7">
            <ul class="flex gap-5 text-blue-800 font-semibold text-xl">
               <li>
                  <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
               </li>
   
               <li>
                  <a href="#"><i class="fa-brands fa-facebook"></i></a>
               </li>
   
               <li>
                  <a href="#"><i class="fa-regular fa-envelope"></i></a>
               </li>
            </ul>
         </div>
      </div>
      <nav class="flex items-center justify-between px-4 py-3 md:px-6 bg-white">
         <!-- Logo -->
         <div class="flex items-center ">
            <img src="IMAGES/logo_7-removebg-preview.png" class=" h-[50px] " alt="logo">
         </div>
         <div>
            <ul class="hidden md:flex items-center justify-center gap-4 md:text-1xl">
               <li><a href="/" class="font-bold bg-green-500 text-white p-3 rounded-xl">Accueil</a></li>
               <li><a href="/parent" class="font-bold hover:bg-green-500 hover:text-white p-3 rounded-xl">Tableau de bord Parents</a></li>
               <li><a href="enseignant" class="font-bold hover:bg-green-500 hover:text-white p-3 rounded-xl">Tableau de bord enseignants</a></li>
               <li><a href="#" class="font-bold bg-green-500 text-white border p-3 rounded-xl ">INSCRIPTION ECOLES</a></li>
               <li><a href="#" class="font-bold border-green-500 text-green-500 hover:bg-blue-500 hover:text-white border p-3 rounded-xl ">Connexion</a></li>
            </ul>
         </div>
         <!-- Menu hamburger (visible seulement sur mobile) -->
         <div class="block md:hidden">
            <i class="fa-solid fa-bars text-xl"></i>
         </div>
      </nav>
   </header>
    
