<%- include('partials/header') %>

<main class="h-screen flex items-center justify-center">
    <div class="container mx-auto p-4 bg-gray-100 w-96">
        <h1 class="text-2xl font-bold mb-4">Inscription Parents</h1>
        <div>
            <form class="space-y-4" method="post" action="/">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <div>
                        <label for="nom" class="block font-medium">Nom complet :</label>
                        <input type="text" id="nom" name="nom" class="w-full px-5 py-2 p-2 border rounded text-black">
                    </div>
                               
                    <div>
                        <label for="email" class="block font-medium">Adresse email :</label>
                        <input type="email" id="email" name="email" class="w-full px-5 py-2 p-2 border rounded text-black">
                    </div>     
                </div>
                
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <div>
                        <label for="telephone" class="block font-medium">Numéro de téléphone :</label>
                        <input type="tel" id="telephone" name="telephone" class="w-full px-5 py-2 p-2 border rounded text-black">
                    </div>
                               
                    <div>
                        <label for="enfant" class="block font-medium">Nom de l'enfant :</label>
                        <input type="text" id="enfant" name="enfant" class="w-full px-5 py-2 p-2 border rounded text-black">
                    </div>     
                </div>
                
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <div>
                        <label for="ecole" class="block font-medium">École de l'enfant :</label>
                        <input type="text" id="enfant" name="ecole" class="w-full px-5 py-2 p-2 border rounded text-black">
                    </div>
                               
                    <div>
                        <label for="motdepasse" class="block font-medium">Mot de passe :</label>
                        <input type="password" id="motdepasse" name="motDePasse" class="w-full px-5 py-2 p-2 border rounded text-black">
                    </div>     
                </div>
                <button type="submit" class="bg-orange-400 text-white p-2 rounded w-full px-5 py-2">S'inscrire</button>
             </form>                    
        </div>
    </div>                 

</main>

<%- include('partials/footer') %>
